fastapi
uvicorn
aiogram
sqlalchemy
psycopg[binary]
python-dotenv
openai
google-generativeai
nest-asyncio
python-multipart
pydantic
gunicorn
httpx
jinja2
python-dateutil
bcrypt
python-jose[cryptography]
docx2txt
pypdf
